Workflows/Automatic Backup.json
{
  "name": "Template Automatic Backup",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "C:\\Users\\user1/.n8n-files/Devices.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        320,
        240
      ],
      "id": "42b55c09-3a73-476e-bc95-eb0bcdf92d4b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        544,
        240
      ],
      "id": "99b8e619-dcf9-4168-ab46-c5fcfe11c907",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5001/api/api2ssh",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"request_id\": \"{{ $json['Device Name'] }}\",\n\"router_ip\": \"{{ $json['IP Address'] }}\",\n\"ssh_port\": 22,\n\"username\": \"user1\",\n\"password\": \"password1\",\n\"commands\": [\n{\n\"command\": \"save\",\n\"expected_end\": \"[Y/N]:\" \n},\n{\n\"command\": \"y\",\n\"expected_end\": \">\" \n},\n{\n\"command\": \"ftp 192.168.100.2\",\n\"expected_end\": \":\"  \n},\n{\n\"command\": \"anonymous\",\n\"expected_end\": \":\" \n},\n{\n\"command\": \"anonymous\",\n\"expected_end\": \"[ftp]\" \n},\n{\n\"command\": \"put vrpcfg.zip /test-{{ $json['Device Name'] }}.zip\",\n\"expected_end\": \"[ftp]\" \n}\n],\n\"commands_timeout\": 60\n} ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 6,
              "batchInterval": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        48
      ],
      "id": "7244341f-b6f0-4eaf-b66d-bd276da0f85f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        144
      ],
      "id": "66a40a59-6fc0-4fb2-8a6a-65802bf19ca7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Manually create directory to fetch file from:\nC:\\Users\\user1/.n8n-files/ ",
        "height": 288,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        128
      ],
      "id": "19875c99-a4e2-44ab-8895-b5bd5ba43c41",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# API call to API2SSH for different device models",
        "height": 864,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        -208
      ],
      "id": "f672a09f-dc53-443a-8b0f-8546011104af",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d80f0eaf-2793-4598-a955-b0fe31211178",
              "leftValue": "={{ $json.Model }}",
              "rightValue": "Huawei",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        768,
        0
      ],
      "id": "a0757731-b53e-49ac-9b66-b456f608586e",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d80f0eaf-2793-4598-a955-b0fe31211178",
              "leftValue": "={{ $json.Model }}",
              "rightValue": "Cisco-IOS-XE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        768,
        368
      ],
      "id": "fcd7f876-5d6a-4e27-92f2-66037974160c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5001/api/api2ssh",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"request_id\": \"{{ $json['Device Name'] }}\",\n\"router_ip\": \"{{ $json['IP Address'] }}\",\n\"ssh_port\": 22,\n\"username\": \"user1\",\n\"password\": \"password1\",\n\"commands\": [\n{\n\"command\": \"copy run ftp://anonymous:anonymous@192.168.100.2/test.txt\",\n\"expected_end\": \"?\" \n},\n{\n\"command\": \"\",\n\"expected_end\": \"?\" \n},\n{\n\"command\": \"\",\n\"expected_end\": \"#\" \n}\n],\n\"commands_timeout\": 60\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        416
      ],
      "id": "a19a3410-09b5-41e6-bb98-0f465f843649",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "## Huawei",
        "height": 368,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -128
      ],
      "id": "c022b6ca-fc3b-4e58-a7ca-c79844145483",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Cisco",
        "height": 352,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        272
      ],
      "id": "146f2c5c-f144-45cf-b57e-c010415dab4b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        336
      ],
      "id": "f75a2f25-eb41-406a-823d-ea1e3a6d3d58",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a2324e2-d321-4a73-b8bd-c76d0068fb19",
              "leftValue": "={{ $json.results[5].output }}",
              "rightValue": "Transfer complete.",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -80
      ],
      "id": "d92d41d7-7f57-4c01-a9b0-8b962cc8117c",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "admin@example.com",
        "toEmail": "user@example.com",
        "subject": "=Backup Failures Detected",
        "html": "=Backup Failures Detected on: {{ $items().map(item => item.json.router_ip).join(', ') }}\nRequest IDs:{{ $items().map(item => item.json.request_id).join(', ') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1648,
        160
      ],
      "id": "555e7977-4129-4162-bbf5-c70f9a19fe9e",
      "name": "Send an Email- Failure",
      "webhookId": "8d3a8c1b-a85e-4144-99fa-df7335c4061a",
      "credentials": {
        "smtp": {
          "id": "bydteRAayLj5RoxC",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83a9273b-d0a8-4dea-be15-b1fe6e025ebe",
              "leftValue": "={{ $json.results[2].output }}",
              "rightValue": "bytes copied",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        288
      ],
      "id": "db66f093-57d7-477c-8595-418f6eab0e75",
      "name": "If1"
    },
    {
      "parameters": {
        "batchSize": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        0
      ],
      "id": "ba52b793-3ef8-4066-be4b-44367101878b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "batchSize": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        368
      ],
      "id": "3954cf25-5e07-4fcb-94f4-9229924e5227",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "content": "### This workflow:\n- periodically reads a device list from an Excel file\n- filters devices by vendor (Huawei or Cisco) \n- sends SSH commands via API2SSH to back up configurations to an FTP server (It processes multiple devices in batches)\n- checks for successful file transfer\n- sends notification emails for success or failure. \n",
        "height": 192,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -208
      ],
      "id": "e5b9a679-3493-4039-8030-077fd5a604bb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1488,
        160
      ],
      "id": "9e68aa4d-854c-465c-9461-2dc3688fcfed",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-16T04:11:00.422-05:00",
          "Readable date": "February 16th 2026, 4:11:00 am",
          "Readable time": "4:11:00 am",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "16",
          "Hour": "04",
          "Minute": "11",
          "Second": "00",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email- Failure": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send an Email- Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11d032a0-2ae9-4ea7-95be-73f1984643e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "282087d056d1734de3d6d3d6dd21d48f96cb31f30d8c7f16d4b78208cd7400e2"
  },
  "id": "Llcv1dGEVJq7adbe",
  "tags": []
}